# Ignore task output
task/output/*
# Ignore generated onset .txt files
bx/onset_files
bx/onset_files/*
task/input.old/*
# Ignore subInfoMats
task/input/drs*_info.mat 

# Temp files

*.m~
._*
model*log
